/* =============================================================================
   Base
   ========================================================================== */

body {
	background-color:#F2F1E9;
 }

#wrap{
}

/* =============================================================================
   Header
   ========================================================================== */

#banner { }

/* Fixed Topbar Navigation */

body {/*TEMP: padding-top: 60px;*/ }
body.top-navbar { /*padding-top: 60px;*/ }
body.admin-bar .navbar-fixed-top {top: 28px; }

.navbar .brand {
color:#DEDCC3;
}

#profile-pic {
	margin-top:5px;
	border-radius:5px;
    height:40px;
}


#masthead {
	background-color: #41434A;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#41434A));
	background-image: -webkit-linear-gradient(#222222, #41434A);
	background-image: -moz-linear-gradient(#222222, #41434A);
	background-image: -o-linear-gradient(top, #222222, #41434A);
	background-image: -khtml-gradient(linear, left top, left bottom, from(#222222), to(#41434A));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#41434A', GradientType=0);
	min-height:150px;
    margin:50px 0px 0px 0px;
	color:#fff;
}

#gecko {
    margin-bottom:10px;
    border-radius: 5px;
}

/* =============================================================================
   Content
   ========================================================================== */

#content { }

.center-text{
    text-align:center;
}


/* =============================================================================
   Primary Content
   ========================================================================== */

#main { }

.category-list {
}
.category-list h2 {
	padding-bottom:20px;
	font-size:2.5em;
	color:#fff;
}

.category-list ul {
	margin-left:2px;
}

.category-list li {
	list-style:none;
	font-size:2em;
	color:#fff;
    padding-bottom:5px;
}

.category-list a {
	color:#fff;
	line-height:1em;
}
.hero-unit-custom {
	margin-bottom: 30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    box-shadow: 0px 3px 7px 0px #666;
    -moz-box-shadow:    0px 3px 7px 0px #666;
    -webkit-box-shadow: 0px 3px 7px 0px #666;
}

.hero-unit-inside{
    padding:30px;
}
.blue1{
	background-color:#20097F;
}

.blue2{
	background-color:#1671D4;
}

.blue3{
	background-color:#44ACCF;
}

.seafoam{
    background-color:#9EB2A1;
}
.blue-grey{
    background-color:#6B8A8B;
}
.red1 {
	background-color: #EE3E64;
}

.green1 {
	background-color: #7DDE3C;
}

#articles{
    /*background-color: #eee;*/
    color: #41434A;
	text-align:center;
    margin-bottom:20px;
    font-size:1.5em;
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    box-shadow: 0px 0px 7px 0px #666;
    -moz-box-shadow:    0px 0px 7px 0px #666;
    -webkit-box-shadow: 0px 0px 7px 0px #666;*/
    
}
/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* =============================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry h2 a { text-decoration: none; }
.hentry time { display: block; }
.hentry p.byline { }
.hentry footer { clear: both; }



/* =============================================================================
   Post Comments
   ========================================================================== */

#comments, #respond, #submit { clear: both; display: block; }
ol.commentlist img.avatar { float: left; margin-right: 10px; }



/* =============================================================================
   Footer
   ========================================================================== */
footer {
}
#content-info {
 /* margin-top: 45px;
  TEMP  padding: 35px 0 36px;*/
  border-top: 1px solid #e5e5e5;
}

#content-info p small { font-size: 13px; }

	/*Sticky Footer*/
	html, body { 
		  height:100%
		}

	.sticky-wrapper {
		  min-height: 100%;
		  height: auto !important;
		  height: 100%;
		  margin: 30px auto -74px;
		}

	.sticky-wrapper > .container {
		  padding-top: 50px;
		}	

	.push {
		  height: 74px;
		}	

	footer {
		  padding: 17px 0 18px 0;
		  border-top: 1px solid #EEE;
		}



/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { margin: 0 20px 20px 0; float: left; }
.alignright { margin: 0 0 20px 20px; float: right; }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
   /* padding-top: 0;*/
  }
}
