/* =============================================================================
   Base
   ========================================================================== */

body {
	background-color:#F2F1E9;
 }

#wrap{
}

/* =============================================================================
   Header
   ========================================================================== */

#banner { }

/* Fixed Topbar Navigation */

body {/*TEMP: padding-top: 60px;*/ }
body.top-navbar { /*padding-top: 60px;*/ }
body.admin-bar .navbar-fixed-top {top: 28px; }

#profile-pic {
	margin-top:5px;
	border-radius:5px;
}

.banner-text{
	color:#30A7E3;
	text-align:center;
	margin:20px 0 38px 0;
}

#masthead {
	background-color: #049CD9;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4774C8), to(#375499));
	background-image: -webkit-linear-gradient(#4774C8, #375499);
	background-image: -moz-linear-gradient(#4774C8, #375499);
	background-image: -o-linear-gradient(top, #4774C8, #375499);
	background-image: -khtml-gradient(linear, left top, left bottom, from(#4774C8), to(#375499));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4774c8', endColorstr='#375499', GradientType=0);
	margin:60px 0px 30px 0px;
	color:#fff;
}

/* =============================================================================
   Content
   ========================================================================== */

#content { }



/* =============================================================================
   Primary Content
   ========================================================================== */

#main { }

.category-list {
}
.category-list h2 {
	padding-bottom:20px;
	font-size:2.5em;
	color:#fff;
}

.category-list ul {
	margin-left:2px;
}

.category-list li {
	list-style:none;
	font-size:2em;
	color:#fff;
}

.category-list a {
	color:#fff;
	line-height:1em;
}
.hero-unit-small {
	width:310px;
	padding: 30px;
	margin-bottom: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}

.blue1{
	background-color:#44ACCF;
}

.blue2{
	background-color:#64B5FF;
}

.blue3{
	background-color:#1671D4;
}
.red1 {
	background-color: #EE3E64;
}

.green1 {
	background-color: #7DDE3C;
}

#article-heading {
	text-align:center;
}
/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* =============================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry h2 a { text-decoration: none; }
.hentry time { display: block; }
.hentry p.byline { }
.hentry footer { clear: both; }



/* =============================================================================
   Post Comments
   ========================================================================== */

#comments, #respond, #submit { clear: both; display: block; }
ol.commentlist img.avatar { float: left; margin-right: 10px; }



/* =============================================================================
   Footer
   ========================================================================== */
footer {
}
#content-info {
 /* margin-top: 45px;
  TEMP  padding: 35px 0 36px;*/
  border-top: 1px solid #e5e5e5;
}

#content-info p small { font-size: 13px; }

	/*Sticky Footer*/
	html, body { 
		  height:100%
		}

	.sticky-wrapper {
		  min-height: 100%;
		  height: auto !important;
		  height: 100%;
		  margin: 0 auto -74px;
		}

	.sticky-wrapper > .container {
		  padding-top: 60px;
		}	

	.push {
		  height: 74px;
		}	

	footer {
		  padding: 17px 0 18px 0;
		  border-top: 1px solid #EEE;
		}



/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { margin: 0 20px 20px 0; float: left; }
.alignright { margin: 0 0 20px 20px; float: right; }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
   /* padding-top: 0;*/
  }
}
